body a {
    font-size: 40px;
}

div {
    border: 1px solid gray;
    vertical-align: top;
}

.container {
    color: bisque;
    text-align: center;
    margin: 50px auto;
    width: 1200px;
    height: 500px;
    padding-top: 30px;
}